{% extends "header.html" %}
{% block content %}
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container" style="width:50%">
				<div class="row" style="display:inline;">
                    <div class="booking-cta">
                        <h1>Appointment Confirmed!</h1>
                        <br>
                        <br>
                        <div class="booking-form">
                            <span style="font-weight: bold">User Information</span><br>
                            <span>Name: {{user.user_fname}} {{user.user_lname}}</span><br>
                            <span>Email: </span><a>{{user.user_email}}</a><br>
                            <span>Phone: {{user.user_phone}}</span><br>
                            <br>
                            <span style="font-weight: bold">Vehicle Information</span><br>
                            <span>Make: {{user.user_make}}</span><br>
                            <span>Model: {{user.user_model}}</span><br>
                            <span>Year: {{user.user_year}}</span><br>
                            <br>
                            <span style="font-weight: bold">Appointment Information</span><br>
                            <span>Date/Time: {{apt.apt_pref}}</span><br>
                            <span>Description of Service: {{apt.apt_type}}</span><br>
                            <br>
                            <span style="font-weight: bold">Rate your experience!</span><br>
                            <button type="button"style="border:none; padding:0px">
                                <span style="font-size: 60px; border-radius: 100px">&#11089;</span>
                            </button>
                            <button type="button"style="border:none; padding:0px">
                                <span style="font-size: 60px; border-radius: 100px">&#11089;</span>
                            </button>
                            <button type="button"style="border:none; padding:0px">
                                <span style="font-size: 60px; border-radius: 100px">&#11089;</span>
                            </button>
                            <button type="button"style="border:none; padding:0px">
                                <span style="font-size: 60px; border-radius: 100px">&#11089;</span>
                            </button>
                            <button type="button"style="border:none; padding:0px">
                                <span style="font-size: 60px; border-radius: 100px">&#11089;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}