{% extends "header.html" %}
{% block content %}
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container" style="width:50%">
				<div class="row" style="display:inline;">
                    <div class="booking-cta">
                        <h1>Request Appointment</h1>
                        <p>Need your car fixed? Contact us and we will set you up with a new account today!</p>
                    </div>
                    <form class="booking-form" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-actions">
                            <button class="submit-btn" type="submit" style="width:100%">Send</button>
                        </div>
                    </form>
                </div>
			</div>
		</div>
	</div>
{% endblock %}