{% extends "header.html" %}
{% block content %}
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-md-push-5">
						<div class="booking-cta">
							<h1>Schedule Appointment</h1>
							<p>Fill out the following information to schedule your first appointment!</p>
						</div>
					</div>
					<div class="col-md-4 col-md-pull-7">
						<div class="booking-form">
                            <form class="booking-form" method="post">
                                {% csrf_token %}
                                <div class="form-group" style="display: table-caption">
                                    {{ form.as_p }}
                                </div>

                                <div class="form-actions">
                                    <button class="submit-btn" type="submit" style="width:100%">Send</button>
                                </div>
                            </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}